<div class="index_body">
    <div class="content">
        <div class="img_cont">
            <img src="../public/images/people.PNG" alt="">
        </div>
        <div class="text_cont">
            <h1 class="text">Welcome!</h1>
            <br>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit sunt delectus optio. Facere, repudiandae
                corporis! Deserunt consequatur nemo omnis autem possimus, debitis fuga illum numquam iure ipsa
                distinctio eum similique.
                <br> <br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde sequi nam porro a incidunt rerum ab
                sapiente nisi! Eum nobis omnis eius quod enim officia, error excepturi libero earum dolor.
                <br> <br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde sequi nam porro a incidunt rerum ab
                sapiente nisi! Eum nobis omnis eius quod enim officia, error excepturi libero earum dolor.
            </p>
        </div>
    </div>
</div>