<div class="subscribers">
    <div class="list">
        <div class="list_inner_cont">
            <% subscribers.forEach( s => {  %>
            <div class="list_item">
                <p> <%= s.name %> </p>
                <p> <%= s.email %> </p>
            </div>
            <% })%>
        </div>
    </div>
</div>