<div class="contact">
    <div class="row">
        <div class="column">
            <img src="../public/images/network.jpg" alt="no photo">
        </div>
        <div class="column form">
            <div class="col_cont">
                <h1 class="form_title">Reach out to us!</h1>
                <p>Enter your email. if you're interested to learn more:</p>
                <form action="/subscribe" method="post">
                    <label for="name">Name:</label>
                    <input type="text" name="name" id="name" placeholder="Name">
                    <label for="email">Email:</label>
                    <input type="email" name="email" id="email" placeholder="Email">
                    <label for="zipCode">Zip Code:</label>
                    <input type="text" name="zipCode" id="zipCode" placeholder="Zip Code" pattern="[0-9]{5}">
                    <input type="submit" name="submit">
                </form>
            </div>
        </div>
    </div>
</div>