<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" type="text/css" href="../public/css/confetti_cuisine.css">
	<link rel="stylesheet" type="text/css" href="../public/css/bootstrap.css">
	<title>title</title>
</head>

<body>
	<div class="all_cont">
		<div class="nav_bar">
			<div class="header_text">
				CONFETTI CUISINE
			</div>
			<div class="nav_menu_cont">
				<ul class="nav_menu">
					<a href="/">
						<li class="nav_item">Home</li>
					</a>
					<a href="/courses">
						<li class="nav_item">Courses</li>
					</a>
					<a href="/contact">
						<li class="nav_item">Contact</li>
					</a>
				</ul>

			</div>
		</div>
		<%- body %>
	</div>
</body>

</html>