<div class="error_cont">
    <div class="row">
        <div class="column">
            <img src="../../public/images/cat.jfif" alt="">
        </div>
        <div class="column">
            <h1>Oops! Sorry something went <br> wrong, or the page you are<br> looking for is not available</h1>
            <a href="/">Go to home</a>
        </div>
    </div>
</div>